      <!-- MODALES -->
        
        <!--modal login-->
        <div class="modal fade" id="acceder" tabindex="-1" role="dialog" aria-labelledby="acceder" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="acceder">Acceder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                      <label for="loginPassForm">Login</label>
                      <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassForm">
                      </div>
                      <button type="submit" class="btn btn-dark">Enviar</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
        <!--modal login-->


 
 <!--modal añadir usuario-->
        <div class="modal fade" id="addUsuario" tabindex="-1" role="dialog" aria-labelledby="addUsuario" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addUsuario">Añadir usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                      <label for="loginPassForm">Login</label>
                      <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Nombre</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Apellidos</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Telefono</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Email</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      
                       <label for="loginPassForm">Género</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios1" value="option1" >
                         <label class="form-check-label" for="generoRadios1">
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios2" value="option2">
                          <label class="form-check-label" for="generoRadios2">
                            Femenino
                          </label>
                      </div>
                      <br>


                      <label for="loginPassForm">Permiso</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios1" value="option1" >
                         <label class="form-check-label" for="permisoRadios1">
                          Administrador
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option2">
                          <label class="form-check-label" for="permisoRadios2">
                            Entrenador
                          </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option3">
                          <label class="form-check-label" for="permisoRadios3">
                            Deportista
                          </label>
                      </div>
                      <br>




                      <button type="submit" class="btn btn-dark">Enviar</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
        <!--modal login-->





        <!--modal añadir pista-->
        <div class="modal fade" id="addPista" tabindex="-1" role="dialog" aria-labelledby="addPista" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addPista">Añadir pista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>

                      <label for="loginPassForm">Estado</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="pistaRadios" id="pistaRadios1" value="option1" >
                         <label class="form-check-label" for="pistaRadios1">
                          Libre
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="pistaRadios2" value="option2">
                          <label class="form-check-label" for="pistaRadios2">
                            Ocupada
                          </label>
                      </div>
                      <br>

                      <button type="submit" class="btn btn-dark">Enviar</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
        <!--modal login-->





        <!--modal añadir campeonato-->
         <div class="modal fade" id="addCampeonato" tabindex="-1" role="dialog" aria-labelledby="addCampeonato" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addCampeonato">Añadir campeonato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                      <label for="loginPassForm">Nombre de campeonato</label>
                      <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Fecha de inicio</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                        <div class="form-group">
                        <label for="loginPassForm">Fecha de fin</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                        <div class="form-group">
                        <label for="loginPassForm">Fecha de inicio de inscripciones</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                        <div class="form-group">
                        <label for="loginPassForm">Fecha de fin de inscripciones</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                      <button type="submit" class="btn btn-dark">Enviar</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
        <!--modal login-->





<!--modal añadir partido-->
         <div class="modal fade" id="addPartido" tabindex="-1" role="dialog" aria-labelledby="addPartido" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addPartido">Añadir partido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                      <label for="loginPassForm">Fecha</label>
                      <div class="input-group mb-2">
                        <input type="date" class="form-control" id="inlineFormInputGroup">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Hora</label>
                        <input type="time" class="form-control" id="loginPassForm">
                      </div>

                        <label for="loginPassForm">Promoción</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="promocionRadios" id="promocionRadios1" value="option1" >
                         <label class="form-check-label" for="promocionRadios1">
                          Sí
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="promocionRadios2" value="option2">
                          <label class="form-check-label" for="promocionRadios2">
                            No
                          </label>
                      </div>
                      <br>

                        <div class="form-group">
                        <label for="loginPassForm">Login J1</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                        <div class="form-group">
                        <label for="loginPassForm">Login J2</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Login J3</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Login J4</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <button type="submit" class="btn btn-dark">Enviar</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
        <!--modal login-->




 <!--modal editar-->
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="edit">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                      <label for="loginPassForm">Login</label>
                      <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Nombre</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Apellidos</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Telefono</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Email</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      
                       <label for="loginPassForm">Género</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios1" value="option1" >
                         <label class="form-check-label" for="generoRadios1">
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios2" value="option2">
                          <label class="form-check-label" for="generoRadios2">
                            Femenino
                          </label>
                      </div>
                      <br>


                      <label for="loginPassForm">Permiso</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios1" value="option1" >
                         <label class="form-check-label" for="permisoRadios1">
                          Administrador
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option2">
                          <label class="form-check-label" for="permisoRadios2">
                            Entrenador
                          </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option3">
                          <label class="form-check-label" for="permisoRadios3">
                            Deportista
                          </label>
                      </div>
                      <br>




                      <button type="submit" class="btn btn-dark" data-dismiss="modal" aria-label="Close">Enviar</button>
                    </form>

              </div>
            </div>
          </div>
        </div>
        <!--modal login-->








<!--modal ver uno-->
        <div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="view">Consultar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                      <label for="loginPassForm">Login</label>
                      <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Nombre</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Apellidos</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Telefono</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Email</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      
                       <label for="loginPassForm">Género</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios1" value="option1" >
                         <label class="form-check-label" for="generoRadios1">
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios2" value="option2">
                          <label class="form-check-label" for="generoRadios2">
                            Femenino
                          </label>
                      </div>
                      <br>


                      <label for="loginPassForm">Permiso</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios1" value="option1" >
                         <label class="form-check-label" for="permisoRadios1">
                          Administrador
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option2">
                          <label class="form-check-label" for="permisoRadios2">
                            Entrenador
                          </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option3">
                          <label class="form-check-label" for="permisoRadios3">
                            Deportista
                          </label>
                      </div>
                      <br>




                      <button type="submit" class="btn btn-dark" data-dismiss="modal" aria-label="Close">Volver</button>
                    </form>

              </div>
            </div>
          </div>
        </div>
        <!--modal login-->







<!--modal añadir pista-->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                      <label for="loginPassForm">Login</label>
                      <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Contraseña</label>
                        <input type="password" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Nombre</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Apellidos</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Telefono</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      <div class="form-group">
                        <label for="loginPassForm">Email</label>
                        <input type="text" class="form-control" id="loginPassForm">
                      </div>
                      
                       <label for="loginPassForm">Género</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios1" value="option1" >
                         <label class="form-check-label" for="generoRadios1">
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="generoRadios" id="generoRadios2" value="option2">
                          <label class="form-check-label" for="generoRadios2">
                            Femenino
                          </label>
                      </div>
                      <br>


                      <label for="loginPassForm">Permiso</label>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios1" value="option1" >
                         <label class="form-check-label" for="permisoRadios1">
                          Administrador
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option2">
                          <label class="form-check-label" for="permisoRadios2">
                            Entrenador
                          </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="permisoRadios" id="permisoRadios2" value="option3">
                          <label class="form-check-label" for="permisoRadios3">
                            Deportista
                          </label>
                      </div>
                      <br>




                      <button type="submit" class="btn btn-dark">Eliminar</button>
                      <button type="submit" class="btn btn-dark" data-dismiss="modal" aria-label="Close">Volver</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
        <!--modal login-->

