/*=-footer-=*/
footer {
	color: #fff;
	background-attachment: fixed;
	background-color:#222;
	background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
	background-size: cover;
	background-position: bottom;
	width: 100%;
}
footer p {
	color: #ccc;				
}
footer a {
	color: #ccc;				
}
.social-pet li {
	display: inline-block;
	margin-right: 10px;
}
.social-pet li a {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	text-align: center;
	display: block;
	line-height: 35px;
	background-color: #3a5a95;
	color: #fff;
}
.social-pet li:nth-child(2) a {
	background-color: #57aced;
}
.social-pet li:nth-child(3) a {
	background-color: #dd4f43;
}
.social-pet li:nth-child(4) a {
	background-color: #073349;
}
.social-pet li a:hover {
	background-color: #0141a2;
}
.social-pet li a:hover i {
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.f-address li {
	display: inline-block;
}
.f-address li i {
	color: #2995de;
	font-size: 18px;
}
.f-address li a {
	color: #ccc;
}
/*=-Copyright-=*/
.copyright {
	background-color: #111;
	padding: 12px 0;
	font-size:14px;
}

/*=-Nav-=*/
/* Change this breakpoint if you change the breakpoint of the navbar */

header nav a {
	color: #ccc;
	font-weight: bold;
}

header a:hover {
	color: #fff;
	font-weight: bolder;
}

#espacio_info{
	border-style: solid;
	border-width: 0.5px;
	margin-top: 10px;
	text-align: center;
	padding-top: 2px;
}


.clickeable-row{
	cursor:pointer;
}

#perfilform{

	background-color: #222;
	border-style: solid;

}

#tablas{
	overflow: auto;
	height: 500px;
}

.list-group-item{

	margin: 5px;

}

#seccion{
	overflow: auto;
	height: 500px;
}

html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	margin-bottom: 0px;
	padding-bottom: 0px;
}